<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ZeroTier-GUI</vendor>
  <vendor_url>https://github.com/tralph3/ZeroTier-GUI</vendor_url>

  <action id="com.github.tralph3.zerotier-gui.ip-link-set">
    <description>Control ZeroTier interface state</description>
    <message>Authentication is required to change ZeroTier interface state</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/zerotier-gui-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>

